In [46]:
import pandas as pd
import numpy as np
df = pd.read_csv("records.csv", sep=",", header=0)
df.head()

,Visitor,VPTS,Home,HPTS,Winner,Loser,Belt Holder,Contention?
0,Golden State Warriors,99,Brooklyn Nets,125,Brooklyn Nets,Golden State Warriors,Los Angeles Lakers,NaN
1,Los Angeles Clippers,116,Los Angeles Lakers,109,Los Angeles Clippers,Los Angeles Lakers,Los Angeles Clippers,True
2,Charlotte Hornets,114,Cleveland Cavaliers,121,Cleveland Cavaliers,Charlotte Hornets,Los Angeles Clippers,NaN
3,New York Knicks,107,Indiana Pacers,121,Indiana Pacers,New York Knicks,Los Angeles Clippers,NaN
4,Miami Heat,107,Orlando Magic,113,Orlando Magic,Miami Heat,Los Angeles Clippers,NaN

In [47]:
conditions = [df["VPTS"] > df["HPTS"],df["HPTS"] > df["VPTS"]]
df["Winner"] = np.select(conditions, [df["Visitor"],df["Home"]], 'Other')
df["Loser"] = np.select(conditions, [df["Home"],df["Visitor"]], 'Other')
df.head()

,Visitor,VPTS,Home,HPTS,Winner,Loser,Belt Holder,Contention?
0,Golden State Warriors,99,Brooklyn Nets,125,Brooklyn Nets,Golden State Warriors,Los Angeles Lakers,NaN
1,Los Angeles Clippers,116,Los Angeles Lakers,109,Los Angeles Clippers,Los Angeles Lakers,Los Angeles Clippers,True
2,Charlotte Hornets,114,Cleveland Cavaliers,121,Cleveland Cavaliers,Charlotte Hornets,Los Angeles Clippers,NaN
3,New York Knicks,107,Indiana Pacers,121,Indiana Pacers,New York Knicks,Los Angeles Clippers,NaN
4,Miami Heat,107,Orlando Magic,113,Orlando Magic,Miami Heat,Los Angeles Clippers,NaN

In [78]:
Beltholder = "Los Angeles Lakers"
currentstreak = 1
results=[]
streak = []
for row in df.itertuples(index=False):
    if Beltholder != row[4] and Beltholder != row[5]:
        streak.append("")
        results.append(Beltholder)
        continue
    else:
        if row[5] == Beltholder:
            Beltholder = row[4]
            currentstreak = 1
        else:
            currentstreak+=1
        streak.append(currentstreak)
        results.append(Beltholder)
df["Belt Holder"] = results
df["Defense Streak"] = streak
df.head()

,Visitor,VPTS,Home,HPTS,Winner,Loser,Belt Holder,Defense Streak
0,Golden State Warriors,99,Brooklyn Nets,125,Brooklyn Nets,Golden State Warriors,Los Angeles Lakers,
1,Los Angeles Clippers,116,Los Angeles Lakers,109,Los Angeles Clippers,Los Angeles Lakers,Los Angeles Clippers,1
2,Charlotte Hornets,114,Cleveland Cavaliers,121,Cleveland Cavaliers,Charlotte Hornets,Los Angeles Clippers,
3,New York Knicks,107,Indiana Pacers,121,Indiana Pacers,New York Knicks,Los Angeles Clippers,
4,Miami Heat,107,Orlando Magic,113,Orlando Magic,Miami Heat,Los Angeles Clippers,

In [79]:
df.to_csv("records.csv",index=False)